$main-color: rgb(108, 108, 194);
$dark-color: rgb(29, 29, 29);

body {
    background-color: $dark-color;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .header {
        position: absolute;
        top: 5vh;
        bottom: auto;
        #go {
            display: block;
            margin: 2vh auto;
            background-color: $main-color;
            padding: 0.5em 1em;
            border-radius: 5px;
            border: 1px solid $main-color;
            outline: none;
            transition: all .8s ease-in-out;
            &:hover{
                cursor: pointer;
                background-color: $dark-color;
                transform: scale(3) translateY(0.8em);
                color: $main-color;
            }
        }
        input{
            display: block;
            border-radius: 3px;
            height: 2em;
            padding: 0.5em 1em;
            &::placeholder {
                color: $main-color;
                text-align: center;
            }
        }
    }
}

@keyframes growing-button {
    from {transform: scale(1);}
    to {transform: scale(3);}
}

.lettersBox{
    font-size: 48px;
    letter-spacing: 0.5em;
    color: white;
    display: flex;
    .letter {
        opacity: 0;
        min-width: 1em;
    }
}

.show {
    color: $main-color;
    transition: color 0.3s;
    animation: appearing 0.2s ease-out forwards;
}

@keyframes appearing {
    from {transform: translateY(-300px);
        opacity: 0;
    }
    to {transform: translateY(0px);
        opacity: 1;
    }
}

.header {

}